@using System.Reflection
<div id="header" class="clearfix">
    <div class="right">
        @using (Html.BeginForm("Logout", "Default", FormMethod.Post))
        {
            <button class="logout">
                <span>Logout</span>
            </button>
        }
        @*<button class="help">
            <span>
                Help</span>
        </button>
        *@
        <button class="about">
            <span>About</span>
        </button>
    </div>
    <div class="left">        
       @* <button class="create">
            <span>
                Create</span>
        </button>*@
        @Html.Partial("SearchPartial", new Umbraco.Cms.Web.Model.BackOffice.SearchModel())
    </div>
</div>

<div style="display: none;">
    <div id="about">
        @{
            var assembly = System.Reflection.Assembly.Load("Umbraco.Cms.Web.UI");
            var assemblyVersion = assembly.GetName().Version;

            var attr = Attribute.GetCustomAttribute(assembly, typeof (AssemblyInformationalVersionAttribute)) as AssemblyInformationalVersionAttribute;
            var friendlyVersion = (attr != null) ? attr.InformationalVersion : assemblyVersion.Major + "." + assemblyVersion.Minor + "." + assemblyVersion.Build;
        }
        <img src="@Url.Content("~/Areas/Umbraco/Content/Images/login-header.png")" alt="Umbraco 5" />
        <p>Umbraco v@(friendlyVersion) (Assembly version: @assemblyVersion)</p>
        <p>Copyright &copy; 2001 - @DateTime.Today.Year Umbraco / Niels Hartvig</p>
        <p>Developed by the <a href="http://our.umbraco.org/wiki/about/core-team" target="_blank">Umbraco Core Team</a></p>
        <p>Umbraco is licensed under the <a href="http://umbraco.com/products/license" target="_blank">open source license MIT</a></p>
        <p>Visit <a href="http://www.umbraco.com" target="_blank">umbraco.com</a> for more information.</p>
        <p><a href="http://www.famfamfam.com/lab/icons/silk/" target="_blank">Silk icons</a> by <a href="http://www.famfamfam.com" target="_blank">FamFamFam</a></p>
        <p><br />Dedicated to Gry, August, Villum and Oliver!</p>
    </div>
</div>