@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Introduction page - Umbraco 5 RC 1 needs to be installed";
}

<h2>@ViewBag.Message</h2>
<p>Umbraco 5 RC 1 runs on ASP.NET MVC3. <b>It looks like Umbraco isn't installed yet - @Html.ActionLink("click here to launch the install wizard", "Index", "Install").</b> </p>
<p>This is a standard MVC-powered page included as a demo of how your MVC application can serve pages alongside those managed by Umbraco CMS.</p>
<p>
    <em>To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.</em>
</p>
