<?xml version="1.0" encoding="utf-8"?>
<languages>
  <language name="English (United States)" isoCode="en-US" />
  <language isoCode="ar-LY" name="Arabic (Libya)" />
  <language name="Arabic (Syria)" isoCode="ar-SY" />
  <language isoCode="lo-LA" name="Lao (Lao P.D.R.)">
    <fallbacks>
      <fallback isoCode="ar-LY" />
      <fallback isoCode="sq-AL" />
    </fallbacks>
  </language>
  <language name="English (United Kingdom)" isoCode="en-GB">
    <fallbacks>
      <fallback isoCode="en-US" />
    </fallbacks>
  </language>
  <language isoCode="xh-ZA" name="isiXhosa (South Africa)">
    <fallbacks>
      <fallback isoCode="sq-AL" />
      <fallback isoCode="ar-LY" />
    </fallbacks>
  </language>
  <language isoCode="ar-TN" name="Arabic (Tunisia)">
    <fallbacks>
      <fallback isoCode="sq-AL" />
      <fallback isoCode="ar-SY" />
      <fallback isoCode="ar-LY" />
    </fallbacks>
  </language>
  <language isoCode="sq-AL" name="Albanian (Albania)">
    <fallbacks>
      <fallback isoCode="en-GB" />
      <fallback isoCode="ar-SY" />
    </fallbacks>
  </language>
</languages>