<?xml version="1.0"?>
<system>  

  <public-packages repositoryAddress="http://packages.umbraco.com" />
    
  <folders
    backOfficeFolder="~/Areas/Umbraco"
    
    docTypeIconFolder="~/Areas/Umbraco/Content/Images/DocTypeIcons"
    docTypeThumbnailFolder="~/Areas/Umbraco/Content/Images/DocTypeThumbs"    
    appIconFolder="~/Areas/Umbraco/Content/Images/AppIcons"
    
    
    scriptsFolder="~/Scripts/Umbraco"
    stylesheetsFolder="~/Content/Styles"
    templateFolder="~/Views/Umbraco"
    localPackageRepositoryFolder="~/App_Data/Umbraco/LocalPackages"/> 
  
  <paths
    backOfficePath="Umbraco" localizationPath="Localization" />

  <routeMatches>      
    <add route="/Error" type="Exclude" />
    <add route="/Umbraco/Error/Msg" type="Exclude" /> 
    
    <add route="*" type="Include" />
    <add route="/an-excluded-path*" type="Exclude" />
  </routeMatches>
  
</system>
